<div class="col-xs-10 offset-xs-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a href="https://github.com/miljinx">Jim</a>, an aspiring web developer learning from The Firehose Project.
  </p>
  <br />
  <p>
    One of his best kept secrets is that he enjoys reading the Discworld series of books written by Terry Pratchett.
  </p>
  <br />
  <p>
    If you, too, enjoy the writings of Terry Pratchett, <a href="http://www.lspace.org/main.html">The L-Space Web</a> is a great resource that happens to have it's own <a href="http://www.lspace.org/books/pqf/index.html">collection of quotes</a>.
  </p>
  <p>
    If you want to learn how to code, start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
  </p>

  <br />
  <hr />
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'jim.png', class: 'img-fluid' %>
  </div>

  <div class="col-xs-12 col-sm-7 offset-sm-1">
    <h2 class="text-xs-center">Jim Lin</h2>
    <br />
    <p>
      Jim Lin is a web developer in training. He used to do work with integrated circuits and their mask design, and is now a full-time student (again). He hopes to land a full-time web dev job, and branch out into other types of software development as time goes on.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
